.cell {
  border: 1px solid gray;
  display: inline-block;
}

.heading {
  font-family: 'Trebuchet MS', sans-sarif;
  color: darkslategrey;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: inherit;
  width: inherit;
  border: 2px solid darkgoldenrod;
}

.wrapper {
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}
